/*
Styling a navigation bar.
original [https://codetheweb.blog/style-a-navigation-bar-css/]

*/


header img {
    height: 80px;
    margin-left: 40px;
}

body {
    height: 125vh;
    font-family: sans-serif;
    background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg');
    background-size: cover;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
     height: 80px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;

}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header a {
    color: black;
    text-decoration: none;
}

/*
header nav ul {
    box-shadow: 2px -3px 22px 1px black;    /*2px: x-offset, -3px: y-offset, 1px: spread, black: color
}
*/